## Não usar

In [1]:
import pandas as pd
from tqdm import tqdm

In [2]:
df = pd.DataFrame()
abas = ['01-2020','02-2020','03-2020','04-2020','05-2020','06-2020','07-2020','08-2020','09-2020','10-2020','11-2020','12-2020','01-2021']

In [3]:
for aba in tqdm(abas):
    df = df.append(pd.read_excel(r'BD\Dados Vivante Ponto.xlsx', sheet_name = aba))

100%|██████████████████████████████████████████████████████████████████████████████████| 13/13 [02:03<00:00,  9.51s/it]

In [4]:
df.head()

,MATRÍCULA,DATA,TIPO DO DIA,CRG. HOR. DIA,HORAS NORMAIS,H.EXTRAS COMP.,H.EXTRAS PAGAS,H.EXTRAS BH,H.EXTRAS NÃO AUT.,HORAS HNT COMP.,HORAS ABONADAS,HORAS DESCONTADAS,HORAS DEB. BH
0,90293,2020-01-02,Normal,07:48,07:48,00:00,00:00,00:00,00:06,00:00,00:00,00:00,00:00
1,90293,2020-01-03,Normal,07:48,07:48,00:00,00:00,00:00,00:09,00:00,00:00,00:00,00:00
2,90293,2020-01-04,Normal,05:00,05:00,00:00,00:00,00:00,00:04,00:00,00:00,00:00,00:00
3,200400,2020-01-02,Normal,08:00,08:00,00:00,00:00,00:00,00:03,00:00,00:00,00:00,00:00
4,200400,2020-01-03,Normal,08:00,08:00,00:00,00:00,00:00,00:01,00:00,00:00,00:00,00:00

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1044436 entries, 0 to 87494
Data columns (total 13 columns):
 #   Column             Non-Null Count    Dtype
---  ------             --------------    -----
 0   MATRÍCULA          1044436 non-null  int64
 1   DATA               1044436 non-null  datetime64[ns]
 2   TIPO DO DIA        1044436 non-null  object
 3   CRG. HOR. DIA      1022820 non-null  object
 4   HORAS NORMAIS      1044436 non-null  object
 5   H.EXTRAS COMP.     1044436 non-null  object
 6   H.EXTRAS PAGAS     1044436 non-null  object
 7   H.EXTRAS BH        1044436 non-null  object
 8   H.EXTRAS NÃO AUT.  1044436 non-null  object
 9   HORAS HNT COMP.    1044436 non-null  object
 10  HORAS ABONADAS     1044436 non-null  object
 11  HORAS DESCONTADAS  1044436 non-null  object
 12  HORAS DEB. BH      1044436 non-null  object
dtypes: datetime64[ns](1), int64(1), object(11)
memory usage: 111.6+ MB

In [6]:
df_carga = df.sort_values('DATA', ascending = False)
df_carga = df_carga.drop_duplicates(subset=['MATRÍCULA', 'CRG. HOR. DIA'])
df_carga = df_carga[['MATRÍCULA', 'DATA', 'CRG. HOR. DIA']]
df_carga.head()

       MATRÍCULA       DATA CRG. HOR. DIA
69833     234831 2021-01-31         07:20
25953     227499 2021-01-31         07:20
26212     227528 2021-01-31         07:00
86076     235891 2021-01-31           NaN
26293     227558 2021-01-31         08:48

In [7]:
df_carga.shape

(17593, 3)

In [8]:
df_carga.to_csv(r'BD Tratado\carga.csv', sep = ';',index=False)