In [1]:
import pandas as pd

In [2]:
df_func = pd.read_csv(r'BD Tratado\func.csv', sep = ';')
df_func.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5345 entries, 0 to 5344
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   MATRÍCULA  5345 non-null   int64
 1   end        5345 non-null   object
 2   LAT        5345 non-null   object
 3   LNG        5345 non-null   object
dtypes: int64(1), object(3)
memory usage: 167.2+ KB

In [3]:
df_pess = pd.read_csv(r'BD Tratado\pess.csv', sep = ';')
df_pess.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5456 entries, 0 to 5455
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   MATRÍCULA  5456 non-null   int64
 1   end        5456 non-null   object
 2   LAT        5456 non-null   object
 3   LNG        5456 non-null   object
dtypes: int64(1), object(3)
memory usage: 170.6+ KB

In [6]:
df_dist = df_func.merge(df_pess, how = 'inner', on = 'MATRÍCULA', suffixes=('_trabalho', '_residencia'))
df_dist.head()

,MATRÍCULA,end_trabalho,LAT_trabalho,LNG_trabalho,end_residencia,LAT_residencia,LNG_residencia
0,10438,"AVENIDA NAÇÕES UNIDAS - 8º ANDAR, 7815 - PINHE...",-23.563.578.699.999.900,-46.691.606.799.999.900,"RUA Andre Casado, 315 Cpos da Escolastica São ...",-235.413.123,-466.895.501
1,10515,"RUA NORMA PIERUCCINI GIANNOTTI, 327 - BARRA FU...",-235.233.334,-466.536.948,"RUA Expedito Rezende L, 12 - Q C Centro Rio de...",-22.864.110.500.000.000,-434.760.257
2,10479,"Rua Alexandre Dumas, 2200 - Chacara Santo Anto...",-236.276.441,-46.710.724.600.000.000,"RUA José Amancio Ferreira, 27 Jardim Kuabara T...",-236.044.922,-467.562.979
3,10393,"RUA NORMA PIERUCCINI GIANNOTTI, 327 - BARRA FU...",-235.233.334,-466.536.948,"RUA Gal Auto, 165/705 - 165/705 Cidade Baixa P...",-30.034.864.199.999.900,-512.318.436
4,11879,"RUA NORMA PIERUCCINI GIANNOTTI, 327 - BARRA FU...",-235.233.334,-466.536.948,"RUA Alvaro Gonçalves Jr, 330 - Bl B Ap 08 Parq...",-232.251.392,-459.032.981