In [5]:
import pandas as pd
import numpy as np

In [8]:
df_transporte = pd.read_excel(r'BD\Dados Vivante Funcionários.xlsx', sheet_name='TRANSPORTE')
df_transporte.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5918 entries, 0 to 5917
Data columns (total 5 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   MATRÍCULA         5918 non-null   int64
 1   TRANSPORTE        5918 non-null   object
 2   INÍCIO VALIDADE   5918 non-null   datetime64[ns]
 3   NÚM. VIAGENS DIA  5918 non-null   int64
 4   VALOR POR VIAGEM  5918 non-null   float64
dtypes: datetime64[ns](1), float64(1), int64(2), object(1)
memory usage: 231.3+ KB

In [12]:
df_transporte = df_transporte.sort_values(['MATRÍCULA', 'INÍCIO VALIDADE'])
df_transporte['DATA'] = df_transporte['INÍCIO VALIDADE'].astype(str)
df_transporte['DATA FIM'] = np.where(df_transporte['MATRÍCULA'].shift(-1) == df_transporte['MATRÍCULA'], df_transporte['DATA'].shift(-1), '2021-04-30')
df_transporte['DATA FIM'] = pd.to_datetime(df_transporte['DATA FIM'])
df_transporte['DATA'] = pd.to_datetime(df_transporte['DATA'])
df_transporte = df_transporte.drop(['INÍCIO VALIDADE','TRANSPORTE'], axis=1)
df_transporte.head()

    MATRÍCULA  NÚM. VIAGENS DIA  VALOR POR VIAGEM       DATA   DATA FIM
0        2781                 2              2.30 2011-06-01 2021-04-30
1        3108                 4              5.65 2018-01-17 2021-04-30
2        3143                 2              4.50 2014-11-05 2020-04-02
3        3143                 2              6.35 2020-04-02 2021-04-30
12      10027                 4              4.83 2011-06-01 2021-04-30

In [14]:
df_transporte.to_csv(r'BD Tratado\Transp.csv',sep=';',index=False)